In [1]:
#Dependencies
import os
import csv
import pandas as pd
import numpy as np

In [2]:
# Save path to data set in a variable
population_file = "population_clean.csv"

In [3]:
# Use Pandas to read data
population = pd.read_csv(population_file, encoding="ISO-8859-1")
population.head()

   Unnamed: 0   STNAME State             City  PopEstimate2016
0           0  Alabama    AL   ABBEVILLE CITY             2603
1           1  Alabama    AL  ADAMSVILLE CITY             4360
2           2  Alabama    AL     ADDISON TOWN              738
3           3  Alabama    AL       AKRON TOWN              334
4           4  Alabama    AL   ALABASTER CITY            32948

In [4]:
# Save path to TEST data frame in a variable (snip from Rabia's codes)
df_file = "test_df.csv"
df_file

'test_df.csv'

In [5]:
# be careful running this twice
# you may need to start execution over from the beginning

sminus = []
for x in population['City']:
    s = x.split()
    sminus.append(" ".join(s[0:-1]))
print(len(sminus))
population_c = population
population_c['City'] = sminus
population_c[0:10]
# showing that your data has a lot of duplicates
population_c[population_c['City'] == 'PAW PAW']

81533

   Unnamed: 0   STNAME State            City  PopEstimate2016
0           0  Alabama    AL       ABBEVILLE             2603
1           1  Alabama    AL      ADAMSVILLE             4360
2           2  Alabama    AL         ADDISON              738
3           3  Alabama    AL           AKRON              334
4           4  Alabama    AL       ALABASTER            32948
5           5  Alabama    AL     ALBERTVILLE            21525
6           6  Alabama    AL  ALEXANDER CITY            14773
7           7  Alabama    AL      ALICEVILLE             2357
8           8  Alabama    AL         ALLGOOD              627
9           9  Alabama    AL         ALTOONA              919

In [6]:
# Read TEST data frame
test_pd = pd.read_csv(df_file)
test_pd

,Hospital,Location,City,City Population,County,County Population,Mortality Rates (by county),State,Survey Rating,Surveys Completed,Survey Response Rate (%)
0,MAYO CLINIC HEALTH SYSTEM - RED WING,"701 HEWITT BOULEVARD, PO BOX 95\nRED WING, MN\...",RED WING,NaN,GOODHUE,NaN,NaN,MN,NaN,347,33
1,PROMEDICA HERRICK HOSPITAL,"500 E POTTAWATAMIE STREET\nTECUMSEH, MI\n(42.0...",TECUMSEH,NaN,LENAWEE,NaN,NaN,MI,NaN,Not Available,Not Available
2,BRONSON LAKEVIEW HOSPITAL,"408 HAZEN STREET\nPAW PAW, MI\n(42.221009, -85...",PAW PAW,NaN,VAN BUREN,NaN,NaN,MI,NaN,130,30
3,MAYO CLINIC HOSPITAL ROCHESTER,"1216 SECOND STREET SOUTHWEST\nROCHESTER, MN\n(...",ROCHESTER,NaN,OLMSTED,NaN,NaN,MN,NaN,NaN,NaN

In [7]:
test_pd.columns

Index(['Hospital', 'Location', 'City', 'City Population', 'County',
       'County Population', 'Mortality Rates (by county)', 'State',
       'Survey Rating', 'Surveys Completed', 'Survey Response Rate (%)'],
      dtype='object')

In [8]:
# Rearrange Columns in preparation for sorting State column
PE = test_pd[['State', 'City','City Population','Hospital', 'Location',  'County',
       'County Population', 'Mortality Rates (by county)', 'Survey Rating', 'Surveys Completed', 'Survey Response Rate (%)']]
PE.head()

,State,City,City Population,Hospital,Location,County,County Population,Mortality Rates (by county),Survey Rating,Surveys Completed,Survey Response Rate (%)
0,MN,RED WING,NaN,MAYO CLINIC HEALTH SYSTEM - RED WING,"701 HEWITT BOULEVARD, PO BOX 95\nRED WING, MN\...",GOODHUE,NaN,NaN,NaN,347,33
1,MI,TECUMSEH,NaN,PROMEDICA HERRICK HOSPITAL,"500 E POTTAWATAMIE STREET\nTECUMSEH, MI\n(42.0...",LENAWEE,NaN,NaN,NaN,Not Available,Not Available
2,MI,PAW PAW,NaN,BRONSON LAKEVIEW HOSPITAL,"408 HAZEN STREET\nPAW PAW, MI\n(42.221009, -85...",VAN BUREN,NaN,NaN,NaN,130,30
3,MN,ROCHESTER,NaN,MAYO CLINIC HOSPITAL ROCHESTER,"1216 SECOND STREET SOUTHWEST\nROCHESTER, MN\n(...",OLMSTED,NaN,NaN,NaN,NaN,NaN

In [9]:
# Selecting only columns of interest
PE = test_pd[['State', 'City','City Population','Hospital', ]]
PE.head()

  State       City  City Population                              Hospital
0    MN   RED WING              NaN  MAYO CLINIC HEALTH SYSTEM - RED WING
1    MI   TECUMSEH              NaN            PROMEDICA HERRICK HOSPITAL
2    MI    PAW PAW              NaN             BRONSON LAKEVIEW HOSPITAL
3    MN  ROCHESTER              NaN        MAYO CLINIC HOSPITAL ROCHESTER

In [10]:
# Two dataframes 1) population   2) PE 
# The objective is to insert into PE "City Population" column the data from population "PopEstimate2016" column if there is a match between the "State" and "City" columns on both dataframe.  
# Please note the difference in the "City" columns in where population column has 2 strings.
# Thank you!


#PE["City Population"] = [population[(population['State']==PE['State'][i]) & (population['City'] == PE['City'][i])]['PopEstimate2016'] for i in range(PE["State"].count())]

In [11]:
merged_df = PE.merge(population_c,how='inner',on='City')
merged_df['City Population'] = merged_df['PopEstimate2016']
merged_df

,State_x,City,City Population,Hospital,Unnamed: 0,STNAME,State_y,PopEstimate2016
0,MN,RED WING,16526,MAYO CLINIC HEALTH SYSTEM - RED WING,33153,Minnesota,MN,16526
1,MN,RED WING,16526,MAYO CLINIC HEALTH SYSTEM - RED WING,34682,Minnesota,MN,16526
2,MN,RED WING,16526,MAYO CLINIC HEALTH SYSTEM - RED WING,34713,Minnesota,MN,16526
3,MN,RED WING,16526,MAYO CLINIC HEALTH SYSTEM - RED WING,34714,Minnesota,MN,16526
4,MI,TECUMSEH,7776,PROMEDICA HERRICK HOSPITAL,24928,Kansas,KS,7776
5,MI,TECUMSEH,8362,PROMEDICA HERRICK HOSPITAL,29304,Michigan,MI,8362
6,MI,TECUMSEH,8362,PROMEDICA HERRICK HOSPITAL,30938,Michigan,MI,8362
7,MI,TECUMSEH,8362,PROMEDICA HERRICK HOSPITAL,30986,Michigan,MI,8362
8,MI,TECUMSEH,8362,PROMEDICA HERRICK HOSPITAL,30987,Michigan,MI,8362
9,MI,TECUMSEH,1970,PROMEDICA HERRICK HOSPITAL,30988,Michigan,MI,1970
10,MI,TECUMSEH,1631,PROMEDICA HERRICK HOSPITAL,42451,Nebraska,NE,1631
11,MI,TECUMSEH,1631,PROMEDICA HERRICK HOSPITAL,43443,Nebraska,NE,1631
12,MI,TECUMSEH,6666,PROMEDICA HERRICK HOSPITAL,60141,Oklahoma,OK,6666
13,MI,TECUMSEH,6666,PROMEDICA HERRICK HOSPITAL,60860,Oklahoma,OK,6666
14,MI,PAW PAW,813,BRONSON LAKEVIEW HOSPITAL,8842,Illinois,IL,813
15,MI,PAW PAW,334,BRONSON LAKEVIEW HOSPITAL,10454,Illinois,IL,334
16,MI,PAW PAW,813,BRONSON LAKEVIEW HOSPITAL,12485,Illinois,IL,813
17,MI,PAW PAW,813,BRONSON LAKEVIEW HOSPITAL,12540,Illinois,IL,813
18,MI,PAW PAW,1641,BRONSON LAKEVIEW HOSPITAL,18820,Indiana,IN,1641
19,MI,PAW PAW,110,BRONSON LAKEVIEW HOSPITAL,22723,Kansas,KS,110
20,MI,PAW PAW,3448,BRONSON LAKEVIEW HOSPITAL,29206,Michigan,MI,3448
21,MI,PAW PAW,3448,BRONSON LAKEVIEW HOSPITAL,32273,Michigan,MI,3448
22,MI,PAW PAW,6911,BRONSON LAKEVIEW HOSPITAL,32307,Michigan,MI,6911
23,MI,PAW PAW,493,BRONSON LAKEVIEW HOSPITAL,76881,West Virginia,WV,493
24,MI,PAW PAW,493,BRONSON LAKEVIEW HOSPITAL,77178,West Virginia,WV,493
25,MN,ROCHESTER,3762,MAYO CLINIC HOSPITAL ROCHESTER,8925,Illinois,IL,3762
26,MN,ROCHESTER,3762,MAYO CLINIC HOSPITAL ROCHESTER,14247,Illinois,IL,3762
27,MN,ROCHESTER,5411,MAYO CLINIC HOSPITAL ROCHESTER,14315,Illinois,IL,5411
28,MN,ROCHESTER,3762,MAYO CLINIC HOSPITAL ROCHESTER,14316,Illinois,IL,3762
29,MN,ROCHESTER,6021,MAYO CLINIC HOSPITAL ROCHESTER,15715,Indiana,IN,6021
...,...,...,...,...,...,...,...,...
42,MN,ROCHESTER,114011,MAYO CLINIC HOSPITAL ROCHESTER,36060,Minnesota,MN,114011
43,MN,ROCHESTER,114011,MAYO CLINIC HOSPITAL ROCHESTER,36089,Minnesota,MN,114011
44,MN,ROCHESTER,114011,MAYO CLINIC HOSPITAL ROCHESTER,36090,Minnesota,MN,114011
45,MN,ROCHESTER,1821,MAYO CLINIC HOSPITAL ROCHESTER,36091,Minnesota,MN,1821
46,MN,ROCHESTER,30345,MAYO CLINIC HOSPITAL ROCHESTER,44141,New Hampshire,NH,30345
47,MN,ROCHESTER,30345,MAYO CLINIC HOSPITAL ROCHESTER,44409,New Hampshire,NH,30345
48,MN,ROCHESTER,30345,MAYO CLINIC HOSPITAL ROCHESTER,44422,New Hampshire,NH,30345
49,MN,ROCHESTER,30345,MAYO CLINIC HOSPITAL ROCHESTER,44423,New Hampshire,NH,30345
50,MN,ROCHESTER,208880,MAYO CLINIC HOSPITAL ROCHESTER,46771,New York,NY,208880
51,MN,ROCHESTER,208880,MAYO CLINIC HOSPITAL ROCHESTER,48122,New York,NY,208880
52,MN,ROCHESTER,208880,MAYO CLINIC HOSPITAL ROCHESTER,48158,New York,NY,208880
53,MN,ROCHESTER,208880,MAYO CLINIC HOSPITAL ROCHESTER,48159,New York,NY,208880
54,MN,ROCHESTER,7230,MAYO CLINIC HOSPITAL ROCHESTER,49477,New York,NY,7230
55,MN,ROCHESTER,53,MAYO CLINIC HOSPITAL ROCHESTER,52025,North Dakota,ND,53
56,MN,ROCHESTER,181,MAYO CLINIC HOSPITAL ROCHESTER,54736,Ohio,OH,181
57,MN,ROCHESTER,181,MAYO CLINIC HOSPITAL ROCHESTER,57468,Ohio,OH,181
58,MN,ROCHESTER,794,MAYO CLINIC HOSPITAL ROCHESTER,57516,Ohio,OH,794
59,MN,ROCHESTER,181,MAYO CLINIC HOSPITAL ROCHESTER,57517,Ohio,OH,181
60,MN,ROCHESTER,3534,MAYO CLINIC HOSPITAL ROCHESTER,62326,Pennsylvania,PA,3534
61,MN,ROCHESTER,3534,MAYO CLINIC HOSPITAL ROCHESTER,63068,Pennsylvania,PA,3534
62,MN,ROCHESTER,3534,MAYO CLINIC HOSPITAL ROCHESTER,63147,Pennsylvania,PA,3534
63,MN,ROCHESTER,3534,MAYO CLINIC HOSPITAL ROCHESTER,63148,Pennsylvania,PA,3534
64,MN,ROCHESTER,2713,MAYO CLINIC HOSPITAL ROCHESTER,63149,Pennsylvania,PA,2713
65,MN,ROCHESTER,312,MAYO CLINIC HOSPITAL ROCHESTER,72233,Texas,TX,312
66,MN,ROCHESTER,312,MAYO CLINIC HOSPITAL ROCHESTER,73361,Texas,TX,312
67,MN,ROCHESTER,1099,MAYO CLINIC HOSPITAL ROCHESTER,75386,Vermont,VT,1099
68,MN,ROCHESTER,3782,MAYO CLINIC HOSPITAL ROCHESTER,77770,Wisconsin,WI,3782
69,MN,ROCHESTER,3782,MAYO CLINIC HOSPITAL ROCHESTER,80222,Wisconsin,WI,3782
70,MN,ROCHESTER,3782,MAYO CLINIC HOSPITAL ROCHESTER,80244,Wisconsin,WI,3782
71,MN,ROCHESTER,3782,MAYO CLINIC HOSPITAL ROCHESTER,80245,Wisconsin,WI,3782

In [ ]:
####### BELOW ARE ALL MY ATTEMPTS TO MAKE THIS WORK ########### 



# https://stackoverflow.com/questions/42698281/pandas-if-value-in-a-dataframe-contains-string-from-another-dataframe-append
# # Merge PE (df1) and population (df2) dfs

# def return_nan(tup):
#     return(np.nan if len(tup[0]) == 0 else tup[0][0])


# def get_indexes_match(State, City):
#     return([return_nan(np.where([x in e for x in City])) for e in State])


# def merge(PE, population, left_on, right_on):
#     PE.loc[:, 'idx'] = get_indexes_match(PE[left_on].values,
#                                           population[right_on].values)
#     population.loc[:, 'idx'] = np.arange(len(population))
#     return(pd.merge(PE, population, how='left', on='idx'))


# merge(PE, population, left_on='State', right_on='State')

In [ ]:
# # TEST CODE to grab the first string contained within the "NAME" column using RED WING (city where Mayo clinic is located)
# test = merged_df[merged_df["NAME"].str.contains("RED WING")]
# test

In [ ]:
# MERGE 
# df_all = PE.merge(population.drop_duplicates(), on=['State','City'], 
#                    how='left', indicator=True)
# df_all

In [ ]:
#PE.City.isin(pd.population.City)

In [ ]:
# Loop through PE (df2) and population (df1) dfs

# xx = population.set_index('PopEstimate2016').values.tolist()

# for i, row in PE.iterrows():
#     if row["City"] == population['City']:
#         xx.append(i)
# PE['New'] = PE.apply(lambda x : [y for y in xx if x in y] )
# PE = PE[PE.New.apply(len)>0]
# PE['New'] = PE.New.apply(pd.Series)[0].apply(lambda x : ','.join(x))
# PE
# # for index, row in grouped_PE.

# 1) Match by State
#     if PE[""] == POP["State"]
#        print("Yes")
    
#         else:
#        print("No")

#    # 2) If PE['City'] is in POP['City'], 
#         # add the corresponding value of POP['POPESTIMATE2016'] to the row of PE['City Population'] where there is a match.

        
# population_df = population_df[~population_df.index.isin(dups_index)]
# # population_df.head()


# # What I need to do is, if df2['code'] is in df1['allcodes'], 
# add the corresponding value of allcodes to the end of a row in df2 where there is a match.

#https://stackoverflow.com/questions/46591928/python-pandas-add-value-from-one-df-to-end-of-row-in-another-df-if-there-is-a-m

In [ ]:
# x_index = []
# for i, row in grouped_PE.iterrows():
#     if row['City'] == population.row['City']:
#         x_index.append(i)
# x_index

In [ ]:
# grouped_PE = PE.groupby(['State', 'City'])

# # The object returned is a "GroupBy" object and cannot be viewed normally...
# print(grouped_PE)

# # In order to be visualized, a data function must be used...
# grouped_PE.count().head()